{# IMPORTAZIONE LIBRERIE #}
{% import '_lib/_default.twig' as cms %}
{% import '_lib/_form.twig' as frm %}
{% import 'lib/default.twig' as def %}

{# ESTENSIONE DELLO SCHEMA DI BASE #}
{% extends 'ext/main.twig' %}

{# BLOCCO PRINCIPALE DELLA PAGINA #}
{% block main %}
<!-- blocco {{ _self }}::main -->

{# MODULO PRINCIPALE #}
<section class="row flex-fill">
    <div class="col-md-12 d-flex flex-column">

        {# APERTURA DEL FORM #}
        {{ frm.openForm({ 'form': form, 'page': page, 'session': session, 'request': request }) }}

            {# SEZIONE GENERALE #}
            <fieldset>
                <legend>dati generali <small>{{ legend }}</small></legend>

                <div class="form-group row">
                    <div class="col col-md form-col">
                        <span class="label-top">documento</span>
                        {{ frm.select({ 'field': { 'name': 'id_documento' }, 'source': { 'api': 'documenti' }, 'request': request, 'form': form, 'page': page, 'pages': pages }) }}
                    </div>
                    <div class="col-12 col-md-auto form-col">
                        <span class="label-top">tipologia</span>
                        {{ frm.select({ 'field': { 'name': 'id_tipologia' }, 'source': { 'values': etc.select.tipologie_documenti }, 'request': request, 'form': form, 'page': page, 'pages': pages }) }}
                    </div>
                    <div class="col col-md form-col">
                        <span class="label-top">codice</span>
                        {{ frm.input({ 'field': { 'name': 'codice', 'type': 'text' }, 'request': request, 'form': form, 'page': page }) }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col col-md-auto form-col">
                        <span class="label-top">data</span>
                        {{ frm.input({ 'field': { 'name': 'data', 'type': 'date' }, 'request': request, 'form': form, 'page': page }) }}
                    </div>
                    <div class="col col-md form-col">
                        <span class="label-top">descrizione</span>
                        {{ frm.input({ 'field': { 'name': 'nome', 'type': 'text' }, 'request': request, 'form': form, 'page': page }) }}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-12 form-col">
                        <span class="label-top">note</span>
                        {{ frm.textarea({ 'field': { 'name': 'note', 'rows': 3 }, 'request': request, 'form': form, 'page': page }) }}
                    </div>
                </div>

            </fieldset>

            <fieldset>
                <legend>contenuto della riga</legend>

                <div class="form-group row">
                    <div class="col col-md-2 form-col">
                        <span class="label-top">quantità</span>
                        {{ frm.input({ 'field': { 'name': 'quantita', 'type': 'number', 'step': '0.01' }, 'request': request, 'form': form, 'page': page }) }}
                    </div>
                    <div class="col-12 col-md-auto form-col">
                        <span class="label-top">udm</span>
                        {{ frm.select({ 'field': { 'name': 'id_udm' }, 'source': { 'values': etc.select.udm }, 'request': request, 'form': form, 'page': page, 'pages': pages }) }}
                    </div>
                    <div class="col col-md form-col">
                        <span class="label-top">articolo</span>
                        {{ frm.select({ 'field': { 'name': 'id_articolo' }, 'source': { 'api': 'articoli' }, 'request': request, 'form': form, 'page': page, 'pages': pages }) }}
                    </div>
                    <div class="col col-md form-col">
                        <span class="label-top">specifiche</span>
                        {{ frm.input({ 'field': { 'name': 'specifiche', 'type': 'text' }, 'request': request, 'form': form, 'page': page }) }}
                    </div>
                </div>

            </fieldset>

            <fieldset>
                <legend>valore della riga</legend>

                <div class="form-group row">
                    <div class="col col-md-2 form-col">
                        <span class="label-top">€/pz</span>
                        {{ frm.input({ 'field': { 'name': 'prezzo_netto_unitario', 'type': 'number', 'step': '0.01' }, 'request': request, 'form': form, 'page': page }) }}
                    </div>                
                    <div class="col-12 col-md-5 form-col">
                        <span class="label-top">reparto</span>
                        {{ frm.select({ 'field': { 'name': 'id_reparto' }, 'source': { 'values': etc.select.reparti }, 'request': request, 'form': form, 'page': page, 'pages': pages }) }}
                    </div>
                    <div class="col-12 col-md-5 form-col">
                        <span class="label-top">listino</span>
                        {{ frm.select({ 'field': { 'name': 'id_listino' }, 'source': { 'values': etc.select.listini }, 'request': request, 'form': form, 'page': page, 'pages': pages }) }}
                    </div> 
                </div> 

            </fieldset>

            <fieldset>
                <legend>attribuzione</legend>

            </fieldset>

            {# BOTTONI E COMANDI DEL MODULO #}
            <fieldset class="form-controls mt-auto">
                {{ def.controls( page, pages, ietf, session, form.table, request ) }}
            </fieldset>

        </form>
    </div>
</section>

<!-- fine blocco {{ _self }}::main -->
{% endblock main %}
