{# LIBRERIE #}
{% import '_lib/_default.twig' as cms %}

{# SCHEMA ESTESO #}
{% extends "ext/main.twig" %}

{# BLOCCO SUBNAV #}
{% block subnav %}
<!-- blocco {{ _self }}::subnav -->
<!-- blocco vuoto in standard per eventuali customizzazioni -->
<!-- fine blocco {{ _self }}::subnav -->
{% endblock subnav %}

{# BLOCCO MAIN #}
{% block main %}
<!-- blocco {{ _self }}::main -->
<div>
    {{ include( template_from_string( page.content[ localization.language.ietf ]|default('') ) | raw ) }}
</div>
<!-- fine blocco {{ _self }}::main -->
{% endblock main %}
