{# IMPORTAZIONE LIBRERIE #}
{% import '_lib/_default.twig' as cms %}
{% import '_lib/_form.twig' as frm %}
{% import 'lib/default.twig' as def %}
{% import 'lib/anagrafica.form.sub.twig' as sub %}

{# ESTENSIONE DELLO SCHEMA DI BASE #}
{% extends 'ext/main.twig' %}

{# BLOCCO PRINCIPALE DELLA PAGINA #}
{% block main %}
<!-- blocco {{ _self }}::main -->

{# MODULO PRINCIPALE #}
<section class="row flex-fill">
    <div class="col-md-12 d-flex flex-column">

        {# APERTURA DEL FORM #}
        {{ frm.openForm({ 'form': form, 'page': page, 'session': session, 'request': request }) }}

			{# SEZIONE GENERALE #}
			<fieldset>
				<legend>dati generali <small>{{ legend }}</small></legend>

                <div class="form-group row">
					<div class="col-12 col-md-1 form-col">
						<span class="label-top">ordine</span>
                        {{ frm.input({ 'field': { 'name': 'ordine', 'type': 'text' }, 'request': request, 'form': form, 'page': page }) }}
					</div>
					<div class="col-12 col-md form-col">
						<span class="label-top">etichetta</span>
                        {{ frm.input({ 'field': { 'name': 'nome', 'type': 'text' }, 'request': request, 'form': form, 'page': page }) }}
					</div>
                    <div class="col-12 col-md-auto form-col">
						<span class="label-top">lingua</span>
						{{ frm.select({ 'field': { 'name': 'id_lingua' }, 'source': { 'values': etc.select.lingue }, 'request': request, 'form': form, 'page': page, 'pages': pages }) }}
					</div>
                    <div class="col-12 col-md-auto form-col">
						<span class="label-top">ruolo</span>
						{{ frm.select({ 'field': { 'name': 'id_ruolo' }, 'source': { 'values': etc.select.ruoli_immagini }, 'request': request, 'form': form, 'page': page, 'pages': pages }) }}
					</div>
                    <div class="col-12 col-md-auto form-col">
						<span class="label-top">orientamento</span>
						{{ frm.select({ 'field': { 'name': 'orientamento' }, 'source': { 'values': etc.select.orientamenti }, 'request': request, 'form': form, 'page': page, 'pages': pages }) }}
					</div>
                    <div class="col-12 col-md-auto form-col">
						<span class="label-top">taglio</span>
						{{ frm.select({ 'field': { 'name': 'taglio' }, 'source': { 'values': etc.select.tagli }, 'request': request, 'form': form, 'page': page, 'pages': pages }) }}
					</div>
                </div>

                <div class="form-group row">
                    <div class="col form-col">
                        {{ frm.uploader({ 'field': { 'name': 'path', 'long': 1 }, 'request': request, 'form': { 'table': form.table }, 'page': page, 'pages': pages, 'site': site }) }}
                    </div>
                </div>

            </fieldset>

			<fieldset>
				<legend>immagine alternativa</legend>

                <div class="form-group row">
                    <div class="col form-col">
                        {{ frm.uploader({ 'field': { 'name': 'path_alternativo', 'long': 1 }, 'request': request, 'form': { 'table': form.table }, 'page': page, 'pages': pages, 'site': site }) }}
                    </div>
                </div>

            </fieldset>

			{# BOTTONI E COMANDI DEL MODULO #}
			<fieldset class="form-controls mt-auto">
				{{ def.controls( page, pages, ietf, session, form.table, request ) }}
			</fieldset>

		</form>
    </div>
</section>

<!-- fine blocco {{ _self }}::main -->
{% endblock main %}
