{# IMPORTAZIONE LIBRERIE #}
{% import '_lib/_default.twig' as cms %}
{% import '_lib/_form.twig' as frm %}
{% import 'lib/default.twig' as def %}
{% import 'lib/contenuti.pagine.form.sub.twig' as sub %}

{# ESTENSIONE DELLO SCHEMA DI BASE #}
{% extends 'ext/main.twig' %}

{# BLOCCO PRINCIPALE DELLA PAGINA #}
{% block main %}
<!-- blocco {{ _self }}::main -->

{# MODULO PRINCIPALE #}
<section class="row flex-fill">
    <div class="col-md-12 d-flex flex-column">

        {# APERTURA DEL FORM #}
        {{ frm.openForm({ 'form': form, 'page': page, 'session': session, 'request': request }) }}

            {# SELETTORE LINGUA #}
            <fieldset>
                <legend>lingua</legend>

                <div class="form-group row">
                    <div class="col-12 form-col">
                        {{ frm.select({ 'field': { 'name': 'id_lingua' }, 'source': { 'values': tr.languages }, 'request': request, 'form': { 'table': form.table }, 'page': page, 'pages': pages }) }}
                    </div>
                </div>

            </fieldset>

            {# MODULO PRINCIPALE #}
            <fieldset>
                <legend>contenuti della pagina</legend>

                <div class="form-group row">
                    <div class="col-12 col-md-4 form-col">
                        <span class="label-top">valore del tag h1</span>
                        {{ frm.input({ 'field': { 'name': 'h1', 'type': 'text' }, 'request': request, 'form': { 'table': form.table }, 'page': page }) }}
                    </div>
                    <div class="col-12 col-md-4 form-col">
                        <span class="label-top">valore del tag h2</span>
                        {{ frm.input({ 'field': { 'name': 'h2', 'type': 'text' }, 'request': request, 'form': { 'table': form.table }, 'page': page }) }}
                    </div>
                    <div class="col-12 col-md-4 form-col">
                        <span class="label-top">valore del tag h3</span>
                        {{ frm.input({ 'field': { 'name': 'h3', 'type': 'text' }, 'request': request, 'form': { 'table': form.table }, 'page': page }) }}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-12 col-md form-col">
                        <span class="label-top">cappello</span>
                        {{ frm.textarea({ 'field': { 'name': 'cappello', 'rows': 3 }, 'request': request, 'form': { 'table': form.table }, 'page': page }) }}
                    </div>
                    <div class="col-12 col-md form-col">
                        <span class="label-top">abstract</span>
                        {{ frm.textarea({ 'field': { 'name': 'abstract', 'rows': 3 }, 'request': request, 'form': { 'table': form.table }, 'page': page }) }}
                    </div>
                </div>

            </fieldset>

            {# MODULO PRINCIPALE #}
            <fieldset>
                <legend>opzioni URL</legend>

                <div class="form-group row">
                    <div class="col-12 col-md-4 form-col">
                        <span class="label-top">path custom</span>
                        {{ frm.input({ 'field': { 'name': 'path_custom', 'type': 'text', 'placeholder': 'alias non canonico (IMPORTANTE iniziare sempre con slash)' }, 'request': request, 'form': { 'table': form.table }, 'page': page }) }}
                    </div>
                    <div class="col-12 col-md-4 form-col">
                        <span class="label-top">URL custom</span>
                        {{ frm.input({ 'field': { 'name': 'url_custom', 'type': 'text', 'placeholder': 'URL custom (per i link interni DEVE iniziare con slash)' }, 'request': request, 'form': { 'table': form.table }, 'page': page }) }}
                    </div>
                    <div class="col-12 col-md-4 form-col">
                        <span class="label-top">rewrite custom</span>
                        {{ frm.input({ 'field': { 'name': 'rewrite_custom', 'type': 'text', 'placeholder': 'rewrite custom (sostituisce il tag title ai fini del rewrite)' }, 'request': request, 'form': { 'table': form.table }, 'page': page }) }}
                    </div>
                </div>

            </fieldset>

            <fieldset>
                <legend>meta tag</legend>

                <div class="form-group row">
                    <div class="col-12 col-md-4 form-col">
                        <span class="label-top">tag title</span>
                        {{ frm.input({ 'field': { 'name': 'title', 'type': 'text', 'placeholder': '' }, 'request': request, 'form': { 'table': form.table }, 'page': page }) }}
                    </div>
                    <div class="col-12 col-md-8 form-col">
                        <span class="label-top">tag keywords</span>
                        {{ frm.input({ 'field': { 'name': 'keywords', 'type': 'text', 'placeholder': '' }, 'request': request, 'form': { 'table': form.table }, 'page': page }) }}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-12 col-md form-col">
                        <span class="label-top">tag description</span>
                        {{ frm.textarea({ 'field': { 'name': 'description', 'rows': 2 }, 'request': request, 'form': { 'table': form.table }, 'page': page }) }}
                    </div>
                    <div class="col-12 col-md form-col">
                        <span class="label-top">tag robots</span>
                        {{ frm.textarea({ 'field': { 'name': 'robots', 'rows': 2 }, 'request': request, 'form': { 'table': form.table }, 'page': page }) }}
                    </div>
                </div>

            </fieldset>

            <fieldset>
                <legend>OpenGraph protocol</legend>

                <div class="form-group row">
                    <div class="col-12 col-md-2 form-col">
                        <span class="label-top">OG:type</span>
                        {{ frm.input({ 'field': { 'name': 'og_type', 'type': 'text', 'placeholder': '' }, 'request': request, 'form': { 'table': form.table }, 'page': page }) }}
                    </div>
                    <div class="col-12 col-md-5 form-col">
                        <span class="label-top">OG:determiner</span>
                        {{ frm.input({ 'field': { 'name': 'og_determiner', 'type': 'text', 'placeholder': '' }, 'request': request, 'form': { 'table': form.table }, 'page': page }) }}
                    </div>
                    <div class="col-12 col-md-5 form-col">
                        <span class="label-top">OG:title</span>
                        {{ frm.input({ 'field': { 'name': 'og_title', 'type': 'text', 'placeholder': '' }, 'request': request, 'form': { 'table': form.table }, 'page': page }) }}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-12 col-md-4 form-col">
                        <span class="label-top">OG:image</span>
                        {{ frm.input({ 'field': { 'name': 'og_image', 'type': 'text', 'placeholder': '' }, 'request': request, 'form': { 'table': form.table }, 'page': page }) }}
                    </div>
                    <div class="col-12 col-md-4 form-col">
                        <span class="label-top">OG:audio</span>
                        {{ frm.input({ 'field': { 'name': 'og_audio', 'type': 'text', 'placeholder': '' }, 'request': request, 'form': { 'table': form.table }, 'page': page }) }}
                    </div>
                    <div class="col-12 col-md-4 form-col">
                        <span class="label-top">OG:video</span>
                        {{ frm.input({ 'field': { 'name': 'og_title', 'type': 'text', 'placeholder': '' }, 'request': request, 'form': { 'table': form.table }, 'page': page }) }}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-12 col-md form-col">
                        <span class="label-top">OG:description</span>
                        {{ frm.textarea({ 'field': { 'name': 'og_description', 'rows': 2 }, 'request': request, 'form': { 'table': form.table }, 'page': page }) }}
                    </div>
                </div>

            </fieldset>

            {# BOTTONI E COMANDI DEL MODULO #}
            <fieldset class="form-controls mt-auto">
                {{ def.controls( page, pages, ietf, session, form.table, request ) }}
            </fieldset>

	    </form>
    </div>
</section>

{% endblock %}

{% block javascript %}
<script>
window.addEventListener('DOMContentLoaded', function() {

    document.querySelectorAll('textarea.CodeMirror').forEach(function(textarea) {

        CodeMirror.fromTextArea(textarea, {
            lineNumbers: true,
            mode: 'htmlmixed',
            theme: 'default',
            tabSize: 4,
            indentUnit: 4,
            indentWithTabs: false,
            lineWrapping: true,
            matchBrackets: true,
            autoCloseBrackets: true,
            autoCloseTags: true,
            foldGutter: true,
            gutters: ['CodeMirror-linenumbers', 'CodeMirror-foldgutter'],
            extraKeys: {
                'Ctrl-Space': 'autocomplete'
            }
        });

    });

});
</script>
{% endblock javascript %}