{# MACRO DELL'ANAGRAFICA FORM 
    Queste macro compongono i subform delle varie maschere dell'anagrafica form, ad esempio per telefoni, mail, eccetera. #}

{# mail() - crea il subform per la gestione delle e-mail
    Questa macro crea il subform per la gestione delle e-mail; settando require a -1 si ottiene un form nascosto in partenza,
    settandolo a 0 si ottiene una riga, settandolo a 1 si ottengono 2 righe, e così via. #}
{% macro mail( table, subtable, legend, site, page, pages, lang, etc, request, session, field ) %}
{% import '_lib/_form.twig' as frm %}
{% import 'lib/default.twig' as tpl %}
{% set counter = 0 %}
<fieldset id="{{ subtable ~ legend|replace({' ': '_', '\'': '_' }) }}">
	{% set require = -1 %}
    {{ tpl.subformLegend( subtable ~ legend|replace({' ': '_', '\'': '_' }), legend ) }}
    {% if request[ table ][ subtable ]|length and request[ table ][ subtable ] is iterable %}{% set t = request[ table ][ subtable ]|length - 1 %}
    {% else %}{% set t = require %}{% endif %}
	{% for i in -1..t %}
	{% set r = request[ table ][ subtable ][ request[ table ][ subtable ]|keys[ i ] ] %}
	{% if loop.first %}{% set disabled = 1 %}{% set dClasses = ' hidden show-on-duplicate' %}
	{% else %}{% set disabled = null %}{% set dClasses = null %}{% endif %}
	{% if session.account.id %}{% set account = session.account.id %}{% else %}{% set account = '__null__' %}{% endif %}
    {% if request[ table ][ subtable ][ i ].id %}{% set action = 'aggiornamento' %}
    {% else %}{% set action = 'inserimento' %}{% endif %}
    {% set timestamp = 'now'|date('U') %}
    <div id="{{ subtable }}_{{ i }}" class="form-sub{{ dClasses }}">
        {{ frm.input({ 'field': { 'name': 'id', 'type': 'hidden', 'disabled': disabled }, 'request': request, 'form': { 'table': table, 'subtable': subtable, 'counter': i }, 'page': page }) }}
        {{ frm.input({ 'field': { 'name': field, 'type': 'hidden', 'default': '__parent_id__', 'disabled': disabled }, 'request': request, 'form': { 'table': table, 'subtable': subtable, 'counter': i }, 'page': page }) }}
        {{ frm.input({ 'field': { 'name': 'id_account_' ~ action, 'type': 'hidden', 'default': account, 'disabled': disabled }, 'request': request, 'form': { 'table': table, 'subtable': subtable, 'counter': i }, 'page': page }) }}
        {{ frm.input({ 'field': { 'name': 'timestamp_' ~ action, 'type': 'hidden', 'default': timestamp, 'disabled': disabled }, 'request': request, 'form': { 'table': table, 'subtable': subtable, 'counter': i }, 'page': page }) }}
        <div class="form-group row">
            <div class="col form-col">
                <span class="label-top">indirizzo</span>
                {{ frm.input({ 'field': { 'name': 'indirizzo', 'type': 'email', 'disabled': disabled }, 'request': request, 'form': { 'table': table, 'subtable': subtable, 'counter': i }, 'page': page }) }}
            </div>
            <div class="col-auto form-col">
                <span class="label-top">pec</span>
				{{ frm.select({ 'field': { 'name': 'se_pec', 'disabled': disabled }, 'source': { 'values': etc.select.se_pec }, 'request': request, 'form': { 'table': table, 'subtable': subtable, 'counter': i }, 'page': page, 'pages': pages }) }}
            </div>
            <div class="col form-col">
                <span class="label-top">note</span>
                {{ frm.input({ 'field': { 'name': 'note', 'type': 'text', 'disabled': disabled }, 'request': request, 'form': { 'table': table, 'subtable': subtable, 'counter': i }, 'page': page }) }}
            </div>
            {% if r.id %}
            <div class="col-auto form-col p-0 pl-1">
                <button type="button" class="btn btn-sm btn-secondary btn-sqr" onclick="window.open('{{ pages['anagrafica.archivio.mail.form'].url[ lang ] }}?mail[id]={{ r.id }}&__backurl__={{ page.backurl[ lang ] }}','_self')"><i class="fa fa-pencil"></i></button>
            </div>
            <div class="col-auto form-col text-right remove-on-duplicate d-print-none">
                {{ tpl.trashButton( table, subtable, page, pages, r, lang, request ) }}
            </div>
            <div class="col-auto form-col text-right show-on-duplicate d-print-none hidden">
                {{ frm.button( { 'field': { 'text': '<i class="fa fa-trash"></i>', 'type': 'button', 'onclick': '$( this ).closest( ".form-sub" ).remove();', 'class': 'btn-secondary btn-sqr show-on-duplicate hidden' } } ) }}
            </div>
            {% else %}
            <div class="col-auto form-col text-right d-print-none">
                {{ frm.button( { 'field': { 'text': '<i class="fa fa-minus"></i>', 'type': 'button', 'onclick': '$( this ).closest( ".form-sub" ).remove();' } } ) }}
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</fieldset>
{% endmacro %}

{# TODO DOCUMENTARE #}
{% macro telefoni( table, subtable, legend, site, page, pages, lang, etc, request, session, field ) %}
{% import '_lib/_form.twig' as frm %}
{% import 'lib/default.twig' as tpl %}
{% set counter = 0 %}
<fieldset id="{{ subtable ~ legend|replace({' ': '_', '\'': '_' }) }}">
	{% set require = -1 %}
    {{ tpl.subformLegend( subtable ~ legend|replace({' ': '_', '\'': '_' }), legend ) }}
    {% if request[ table ][ subtable ]|length and request[ table ][ subtable ] is iterable %}{% set t = request[ table ][ subtable ]|length - 1 %}
    {% else %}{% set t = require %}{% endif %}
	{% for i in -1..t %}
	{% set r = request[ table ][ subtable ][ request[ table ][ subtable ]|keys[ i ] ] %}
	{% if loop.first %}{% set disabled = 1 %}{% set dClasses = ' hidden show-on-duplicate' %}
	{% else %}{% set disabled = null %}{% set dClasses = null %}{% endif %}
	{% if session.account.id %}{% set account = session.account.id %}{% else %}{% set account = '__null__' %}{% endif %}
    {% if request[ table ][ subtable ][ i ].id %}{% set action = 'aggiornamento' %}
    {% else %}{% set action = 'inserimento' %}{% endif %}
    {% set timestamp = 'now'|date('U') %}
    <div id="{{ subtable }}_{{ i }}" class="form-sub{{ dClasses }}">
        {{ frm.input({ 'field': { 'name': 'id', 'type': 'hidden', 'disabled': disabled }, 'request': request, 'form': { 'table': table, 'subtable': subtable, 'counter': i }, 'page': page }) }}
        {{ frm.input({ 'field': { 'name': field, 'type': 'hidden', 'default': '__parent_id__', 'disabled': disabled }, 'request': request, 'form': { 'table': table, 'subtable': subtable, 'counter': i }, 'page': page }) }}
        {{ frm.input({ 'field': { 'name': 'id_account_' ~ action, 'type': 'hidden', 'default': account, 'disabled': disabled }, 'request': request, 'form': { 'table': table, 'subtable': subtable, 'counter': i }, 'page': page }) }}
        {{ frm.input({ 'field': { 'name': 'timestamp_' ~ action, 'type': 'hidden', 'default': timestamp, 'disabled': disabled }, 'request': request, 'form': { 'table': table, 'subtable': subtable, 'counter': i }, 'page': page }) }}
	    <div class="form-group row">
	        <div class="col form-col">
                <span class="label-top">numero</span>
                {{ frm.input({ 'field': { 'name': 'numero', 'type': 'text', 'disabled': disabled }, 'request': request, 'form': { 'table': table, 'subtable': subtable, 'counter': i }, 'page': page }) }}
	        </div>
            <div class="col-auto form-col">
                <span class="label-top">tipo</span>
				{{ frm.select({ 'field': { 'name': 'id_tipologia', 'disabled': disabled }, 'source': { 'values': etc.select.tipologie_telefoni }, 'request': request, 'form': { 'table': table, 'subtable': subtable, 'counter': i }, 'page': page, 'pages': pages }) }}
            </div>
            <div class="col form-col">
                <span class="label-top">note</span>
                {{ frm.input({ 'field': { 'name': 'note', 'type': 'text', 'disabled': disabled }, 'request': request, 'form': { 'table': table, 'subtable': subtable, 'counter': i }, 'page': page }) }}
            </div>
            {% if r.id %}
            <div class="col-auto form-col p-0 pl-1">
                <button type="button" class="btn btn-sm btn-secondary btn-sqr" onclick="window.open('{{ pages['anagrafica.archivio.telefoni.form'].url[ lang ] }}?telefoni[id]={{ r.id }}&__backurl__={{ page.backurl[ lang ] }}','_self')"><i class="fa fa-pencil"></i></button>
            </div>
            <div class="col-auto form-col text-right remove-on-duplicate d-print-none">
                {{ tpl.trashButton( table, subtable, page, pages, r, lang, request ) }}
            </div>
            <div class="col-auto form-col text-right show-on-duplicate d-print-none hidden">
                {{ frm.button( { 'field': { 'text': '<i class="fa fa-trash"></i>', 'type': 'button', 'onclick': '$( this ).closest( ".form-sub" ).remove();', 'class': 'btn-secondary btn-sqr show-on-duplicate hidden' } } ) }}
            </div>
            {% else %}
            <div class="col-auto form-col text-right d-print-none">
                {{ frm.button( { 'field': { 'text': '<i class="fa fa-minus"></i>', 'type': 'button', 'onclick': '$( this ).closest( ".form-sub" ).remove();' } } ) }}
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</fieldset>
{% endmacro %}

{# TODO DOCUMENTARE #}
{% macro indirizzi( table, subtable, legend, site, page, pages, lang, etc, request, session, field ) %}
{% import '_lib/_form.twig' as frm %}
{% import 'lib/default.twig' as tpl %}
{% set counter = 0 %}
<fieldset id="{{ subtable ~ legend|replace({' ': '_', '\'': '_' }) }}">
	{% if request.__preset__.anagrafica_indirizzi %}
	{% set require = 0 %}
	{% else %}
	{% set require = -1 %}
	{% endif %}
    {{ tpl.subformLegend( subtable ~ legend|replace({' ': '_', '\'': '_' }), legend ) }}
    {% if request[ table ][ subtable ]|length and request[ table ][ subtable ] is iterable %}{% set t = request[ table ][ subtable ]|length - 1 %}
    {% else %}{% set t = require %}{% endif %}
	{% for i in -1..t %}
	{% set r = request[ table ][ subtable ][ request[ table ][ subtable ]|keys[ i ] ] %}
	{% if loop.first %}{% set disabled = 1 %}{% set dClasses = ' hidden show-on-duplicate' %}
	{% else %}{% set disabled = null %}{% set dClasses = null %}{% endif %}
	{% if session.account.id %}{% set account = session.account.id %}{% else %}{% set account = '__null__' %}{% endif %}
    {% if request[ table ][ subtable ][ i ].id %}{% set action = 'aggiornamento' %}
    {% else %}{% set action = 'inserimento' %}{% endif %}
    {% set timestamp = 'now'|date('U') %}
    <div id="{{ subtable }}_{{ i }}" class="form-sub{{ dClasses }}">
        {{ frm.input({ 'field': { 'name': 'id', 'type': 'hidden', 'disabled': disabled }, 'request': request, 'form': { 'table': table, 'subtable': subtable, 'counter': i }, 'page': page }) }}
        {{ frm.input({ 'field': { 'name': field, 'type': 'hidden', 'default': '__parent_id__', 'disabled': disabled }, 'request': request, 'form': { 'table': table, 'subtable': subtable, 'counter': i }, 'page': page }) }}
        {{ frm.input({ 'field': { 'name': 'id_account_' ~ action, 'type': 'hidden', 'default': account, 'disabled': disabled }, 'request': request, 'form': { 'table': table, 'subtable': subtable, 'counter': i }, 'page': page }) }}
        {{ frm.input({ 'field': { 'name': 'timestamp_' ~ action, 'type': 'hidden', 'default': timestamp, 'disabled': disabled }, 'request': request, 'form': { 'table': table, 'subtable': subtable, 'counter': i }, 'page': page }) }}
        <div class="form-group row">
            <div class="col-auto form-col">
                <span class="label-top">ruolo</span>
				{{ frm.select({ 'field': { 'name': 'id_ruolo', 'disabled': disabled }, 'source': { 'values': etc.select.ruoli_indirizzi }, 'request': request, 'form': { 'table': table, 'subtable': subtable, 'counter': i }, 'page': page, 'pages': pages }) }}
            </div>
            <div class="col-auto form-col">
                <span class="label-top">tipologia</span>
				{{ frm.select({ 'field': { 'name': 'id_tipologia', 'disabled': disabled }, 'source': { 'values': etc.select.tipologie_indirizzi }, 'request': request, 'form': { 'table': table, 'subtable': subtable, 'counter': i }, 'page': page, 'pages': pages }) }}
            </div>
            <div class="col form-col">
                <span class="label-top">indirizzo</span>
                {{ frm.input({ 'field': { 'name': 'indirizzo', 'type': 'text', 'disabled': disabled }, 'request': request, 'form': { 'table': table, 'subtable': subtable, 'counter': i }, 'page': page }) }}
            </div>
            <div class="col col-md-1 form-col">
                <span class="label-top">civico</span>
                {{ frm.input({ 'field': { 'name': 'civico', 'type': 'text', 'disabled': disabled }, 'request': request, 'form': { 'table': table, 'subtable': subtable, 'counter': i }, 'page': page }) }}
            </div>
            <div class="col col-md-1 form-col">
                <span class="label-top">interno</span>
                {{ frm.input({ 'field': { 'name': 'interno', 'type': 'text', 'disabled': disabled }, 'request': request, 'form': { 'table': table, 'subtable': subtable, 'counter': i }, 'page': page }) }}
            </div>
            <div class="col form-col">
                <span class="label-top">località</span>
                {{ frm.input({ 'field': { 'name': 'localita', 'type': 'text', 'disabled': disabled }, 'request': request, 'form': { 'table': table, 'subtable': subtable, 'counter': i }, 'page': page }) }}
            </div>
            <div class="col col-md-1 form-col">
                <span class="label-top">CAP</span>
                {{ frm.input({ 'field': { 'name': 'cap', 'type': 'text', 'disabled': disabled }, 'request': request, 'form': { 'table': table, 'subtable': subtable, 'counter': i }, 'page': page }) }}
            </div>
            <div class="col col-md-2 form-col">
                <span class="label-top">comune</span>
                {{ frm.select({ 'field': { 'name': 'id_comune', 'disabled': disabled }, 'source': { 'api': 'comuni' }, 'request': request, 'form': { 'table': table, 'subtable': subtable, 'counter': i }, 'page': page, 'pages': pages }) }}
            </div>
            {% if r.id %}
            <div class="col-auto form-col p-0 pl-1">
                <button type="button" class="btn btn-sm btn-secondary btn-sqr" onclick="window.open('{{ pages['anagrafica.archivio.anagrafica.indirizzi.form'].url[ lang ] }}?anagrafica_indirizzi[id]={{ r.id }}&__backurl__={{ page.backurl[ lang ] }}','_self')"><i class="fa fa-pencil"></i></button>
            </div>
            <div class="col-auto form-col text-right remove-on-duplicate d-print-none">
                {{ tpl.trashButton( table, subtable, page, pages, r, lang, request ) }}
            </div>
            <div class="col-auto form-col text-right show-on-duplicate d-print-none hidden">
                {{ frm.button( { 'field': { 'text': '<i class="fa fa-trash"></i>', 'type': 'button', 'onclick': '$( this ).closest( ".form-sub" ).remove();', 'class': 'btn-secondary btn-sqr show-on-duplicate hidden' } } ) }}
            </div>
            {% else %}
            <div class="col-auto form-col text-right d-print-none">
                {{ frm.button( { 'field': { 'text': '<i class="fa fa-minus"></i>', 'type': 'button', 'onclick': '$( this ).closest( ".form-sub" ).remove();' } } ) }}
            </div>
            {% endif %}
	    </div>
    </div>
    {% endfor %}
</fieldset>
{% endmacro %}

{# TODO DOCUMENTARE #}
{% macro categorie( table, subtable, legend, site, page, pages, lang, etc, request, session, field ) %}
{% import '_lib/_form.twig' as frm %}
{% import 'lib/default.twig' as tpl %}
{% set counter = 0 %}
<fieldset id="{{ subtable ~ legend|replace({' ': '_', '\'': '_' }) }}">
	{% set require = 0 %}{# normalmente è -1 ma si può settare a 0 per richiedere almeno 1 riga, 1 per 2, eccetera #}
    {{ tpl.subformLegend( subtable ~ legend|replace({' ': '_', '\'': '_' }), legend ) }}
    {% if request[ table ][ subtable ]|length and request[ table ][ subtable ] is iterable %}{% set t = request[ table ][ subtable ]|length - 1 %}
    {% else %}{% set t = require %}{% endif %}
	{% for i in -1..t %}
	{% set r = request[ table ][ subtable ][ request[ table ][ subtable ]|keys[ i ] ] %}
	{% if loop.first %}{% set disabled = 1 %}{% set dClasses = ' hidden show-on-duplicate' %}
	{% else %}{% set disabled = null %}{% set dClasses = null %}{% endif %}
	{% if session.account.id %}{% set account = session.account.id %}{% else %}{% set account = '__null__' %}{% endif %}
    {% if request[ table ][ subtable ][ i ].id %}{% set action = 'aggiornamento' %}
    {% else %}{% set action = 'inserimento' %}{% endif %}
    {% set timestamp = 'now'|date('U') %}
    <div id="{{ subtable }}_{{ i }}" class="form-sub{{ dClasses }}">
        {{ frm.input({ 'field': { 'name': 'id', 'type': 'hidden', 'disabled': disabled }, 'request': request, 'form': { 'table': table, 'subtable': subtable, 'counter': i }, 'page': page }) }}
        {{ frm.input({ 'field': { 'name': field, 'type': 'hidden', 'default': '__parent_id__', 'disabled': disabled }, 'request': request, 'form': { 'table': table, 'subtable': subtable, 'counter': i }, 'page': page }) }}
        {{ frm.input({ 'field': { 'name': 'id_account_' ~ action, 'type': 'hidden', 'default': account, 'disabled': disabled }, 'request': request, 'form': { 'table': table, 'subtable': subtable, 'counter': i }, 'page': page }) }}
        {{ frm.input({ 'field': { 'name': 'timestamp_' ~ action, 'type': 'hidden', 'default': timestamp, 'disabled': disabled }, 'request': request, 'form': { 'table': table, 'subtable': subtable, 'counter': i }, 'page': page }) }}
        <div class="form-group row">
            <div class="col form-col">
                <span class="label-top">categoria</span>
				{{ frm.select({ 'field': { 'name': 'id_categoria', 'required': 1, 'disabled': disabled }, 'source': { 'values': etc.select.categorie_anagrafica }, 'request': request, 'form': { 'table': table, 'subtable': subtable, 'counter': i }, 'page': page, 'pages': pages }) }}
            </div>
            {% if r.id %}
            <div class="col-auto form-col text-right remove-on-duplicate d-print-none">
                {{ tpl.trashButton( table, subtable, page, pages, r, lang, request ) }}
            </div>
            <div class="col-auto form-col text-right show-on-duplicate d-print-none hidden">
                {{ frm.button( { 'field': { 'text': '<i class="fa fa-trash"></i>', 'type': 'button', 'onclick': '$( this ).closest( ".form-sub" ).remove();', 'class': 'btn-secondary btn-sqr show-on-duplicate hidden' } } ) }}
            </div>
            {% else %}
            <div class="col-auto form-col text-right d-print-none">
                {{ frm.button( { 'field': { 'text': '<i class="fa fa-minus"></i>', 'type': 'button', 'onclick': '$( this ).closest( ".form-sub" ).remove();' } } ) }}
            </div>
            {% endif %}
	    </div>
    </div>
    {% endfor %}
</fieldset>
{% endmacro %}

{# TODO DOCUMENTARE #}
{% macro url( table, subtable, legend, site, page, pages, lang, etc, request, session, field ) %}
{% import '_lib/_form.twig' as frm %}
{% import 'lib/default.twig' as tpl %}
{% set counter = 0 %}
<fieldset id="{{ subtable ~ legend|replace({' ': '_', '\'': '_' }) }}">
	{% set require = -1 %}{# normalmente è -1 ma si può settare a 0 per richiedere almeno 1 riga, 1 per 2, eccetera #}
    {{ tpl.subformLegend( subtable ~ legend|replace({' ': '_', '\'': '_' }), legend ) }}
    {% if request[ table ][ subtable ]|length and request[ table ][ subtable ] is iterable %}{% set t = request[ table ][ subtable ]|length - 1 %}
    {% else %}{% set t = require %}{% endif %}
	{% for i in -1..t %}
	{% set r = request[ table ][ subtable ][ request[ table ][ subtable ]|keys[ i ] ] %}
	{% if loop.first %}{% set disabled = 1 %}{% set dClasses = ' hidden show-on-duplicate' %}
	{% else %}{% set disabled = null %}{% set dClasses = null %}{% endif %}
	{% if session.account.id %}{% set account = session.account.id %}{% else %}{% set account = '__null__' %}{% endif %}
    {% if request[ table ][ subtable ][ i ].id %}{% set action = 'aggiornamento' %}
    {% else %}{% set action = 'inserimento' %}{% endif %}
    {% set timestamp = 'now'|date('U') %}
    <div id="{{ subtable }}_{{ i }}" class="form-sub{{ dClasses }}">
        {{ frm.input({ 'field': { 'name': 'id', 'type': 'hidden', 'disabled': disabled }, 'request': request, 'form': { 'table': table, 'subtable': subtable, 'counter': i }, 'page': page }) }}
        {{ frm.input({ 'field': { 'name': field, 'type': 'hidden', 'default': '__parent_id__', 'disabled': disabled }, 'request': request, 'form': { 'table': table, 'subtable': subtable, 'counter': i }, 'page': page }) }}
        {{ frm.input({ 'field': { 'name': 'id_account_' ~ action, 'type': 'hidden', 'default': account, 'disabled': disabled }, 'request': request, 'form': { 'table': table, 'subtable': subtable, 'counter': i }, 'page': page }) }}
        {{ frm.input({ 'field': { 'name': 'timestamp_' ~ action, 'type': 'hidden', 'default': timestamp, 'disabled': disabled }, 'request': request, 'form': { 'table': table, 'subtable': subtable, 'counter': i }, 'page': page }) }}
        <div class="form-group row">
            <div class="col form-col">
                <span class="label-top">URL</span>
                {{ frm.input({ 'field': { 'name': 'url', 'type': 'text', 'disabled': disabled }, 'request': request, 'form': { 'table': table, 'subtable': subtable, 'counter': i }, 'page': page }) }}
            </div>
            <div class="col-auto form-col">
                <span class="label-top">tipologia</span>
				{{ frm.select({ 'field': { 'name': 'id_tipologia', 'disabled': disabled }, 'source': { 'values': etc.select.tipologie_url }, 'request': request, 'form': { 'table': table, 'subtable': subtable, 'counter': i }, 'page': page, 'pages': pages }) }}
            </div>
            <div class="col form-col">
                <span class="label-top">note</span>
                {{ frm.input({ 'field': { 'name': 'note', 'type': 'text', 'disabled': disabled }, 'request': request, 'form': { 'table': table, 'subtable': subtable, 'counter': i }, 'page': page }) }}
            </div>
            {% if r.id %}
            <div class="col-auto form-col p-0 pl-1">
                <button type="button" class="btn btn-sm btn-secondary btn-sqr" onclick="window.open('{{ pages['anagrafica.archivio.url.form'].url[ lang ] }}?url[id]={{ r.id }}&__backurl__={{ page.backurl[ lang ] }}','_self')"><i class="fa fa-pencil"></i></button>
            </div>
            <div class="col-auto form-col text-right remove-on-duplicate d-print-none">
                {{ tpl.trashButton( table, subtable, page, pages, r, lang, request ) }}
            </div>
            <div class="col-auto form-col text-right show-on-duplicate d-print-none hidden">
                {{ frm.button( { 'field': { 'text': '<i class="fa fa-trash"></i>', 'type': 'button', 'onclick': '$( this ).closest( ".form-sub" ).remove();', 'class': 'btn-secondary btn-sqr show-on-duplicate hidden' } } ) }}
            </div>
            {% else %}
            <div class="col-auto form-col text-right d-print-none">
                {{ frm.button( { 'field': { 'text': '<i class="fa fa-minus"></i>', 'type': 'button', 'onclick': '$( this ).closest( ".form-sub" ).remove();' } } ) }}
            </div>
            {% endif %}
	    </div>
    </div>
    {% endfor %}
</fieldset>
{% endmacro %}
