{# FILE PER LA GENERAZIONE DEL TAG <head> STANDARD #}

{% include '_inc/_gtm.head.twig' %}

{% include '_inc/_analytics.head.twig' %}

{% include '_inc/_ads.head.twig' %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

<meta name="keywords" content="{{ page.keywords[ localization.language.ietf ] }}">
<meta name="description" content="{{ page.description[ localization.language.ietf ] }}">

{% include '_inc/_csp.head.twig' %}

{% for icon in page.template.favicons %}<link rel="{{ icon.rel }}" sizes="{{ icon.sizes }}"{% if icon.type %} type="{{ icon.type }}"{% endif %} href="{{ site.url }}{{ icon.path }}/{{ icon.file }}">{% endfor %}

{% if page.canonical %}<link rel="canonical" href="{{ pages[ page.canonical ].url[ localization.language.ietf ] }}">{% endif %}

<title>{{ page.title[ localization.language.ietf ] }}</title>

{% include '_inc/_opengraph.head.twig' %}

{% for m,s in page.css.preload %}
{% for c in s %}<link rel="preload" as="style" href="{{ c }}" media="{{ m }}" onload="this.onload=null;this.rel='stylesheet'">{% endfor %}
{% endfor %}

{% for m,s in page.css.external %}
{% for c in s %}<link rel="stylesheet" href="{{ c }}" media="{{ m }}">{% endfor %}
{% endfor %}

{% for m,s in page.css.cached %}
{% for c in s %}<link rel="stylesheet" href="{{ site.root }}{{ c }}" media="{{ m }}">{% endfor %}
{% endfor %}

{% for m,s in page.css.internal %}
{% for c in s %}<link rel="stylesheet" href="{{ site.root }}{{ c }}" media="{{ m }}">{% endfor %}
{% endfor %}

{% for m,s in page.css.template %}
{% for c in s %}<link rel="stylesheet" href="{{ site.root }}{{ page.template.path }}{{ c }}" media="{{ m }}">{% endfor %}
{% endfor %}

{% for m,s in page.css.custom %}
{% for c in s %}<link rel="stylesheet" href="{{ site.root }}{{ c }}" media="{{ m }}">{% endfor %}
{% endfor %}

{% include '_inc/_facebook.head.twig' %}

{% include '_inc/_hotjar.head.twig' %}

<noscript>
    {% for c in page.css.preload %}<link rel="stylesheet" href="{{ c }}">{% endfor %}
</noscript>
