{# LIBRERIE #}
{% import '_lib/_form.twig' as frm %}
{% import 'lib/default.twig' as tpl %}

{# GESTIONE BACKURL #}
{% if request.__backurl__ %}
{% set back = session.backurls[ request.__backurl__ ] %}
{% else %}
{% set back = page.parent.path[ localization.language.ietf ] %}
{% endif %}

{# TODO DOCUMENTARE #}

<!-- file {{ _self }} -->
<form id="form-filtro" class="form-main form-horizontal d-flex flex-column flex-fill" action="{{ page.path[ localization.language.ietf ] }}" method="post">

    {# FILTRI DELLA VISTA #}
    {% if etc.include.filters %}
    {% include etc.include.filters %}
    {% else %}
    <div class="form-group row view-filters d-print-none">
        <div class="col form-col">
            <span class="label-top">ricerca per parola chiave</span>
            {{ frm.input({ "form": { "table": "__view__", "subtable": view.id }, "field": { "name": "__search__", "autofocus": 1 }, "request": request, "page": page }) }}
        </div>
        <div class="col-auto form-col">

            {{ frm.button({ "field": { "text": '<i class="fa fa-search"></i>', "class": "btn btn-secondary btn-sqr btn-sm", "onclick": 'submitFormOkay = true;' } }) }}

            {% if view.insert.path %}
            {% set url = view.insert.path ~ '?' %}
            {% if view.open.preset.field %}
            {% set url = url ~ '__preset__[' ~ view.open.table ~ ']' %}
            {% if view.open.preset.subform %}
            {% set url = url ~ '[' ~ view.open.preset.subform ~ '][0]' %}
            {% endif %}
            {% set url = url ~ '[' ~ view.open.preset.field ~ ']=' ~ request[ form.table ].id %}
            {% endif %}
            {% if page.backurl %}
            {% set url = url ~ '&__backurl__=' ~ page.backurl[ localization.language.ietf ] %}
            {% endif %}
            {% for f,v in view.open.preset.fields %}
            {% set url = url ~ '&__preset__[' ~ view.open.table ~ '][' ~ f ~ ']=' ~ v %}
            {% endfor %}
            {{ frm.button({ "field": { "type": "button", "text": '<i class="fa fa-plus"></i>', "class": "btn btn-secondary btn-sqr btn-sm", "onclick": "window.open('" ~ url ~ "','_self');" } }) }}
            {% endif %}

            {% for extra in view.insert.extras %}
            <button type="button" class="btn btn-secondary btn-sqr btn-sm" onclick="window.open('{{ pages[ extra.page ].url[localization.language.ietf] }}?{% for k,o in extra.options %}{{ k }}={{ o }}{% if loop.index < (extra.options|length) %}&{% endif %}{% endfor %}','_self');"><i class="fa {{ extra.icon }}"></i></button>
            {% endfor %}

            {% if page.parents.path|length() > 1 and view.dashboard.sezione %}
            <button type="button" class="btn btn-secondary btn-sqr btn-sm" onclick="$('#reset').val(1);$('#form-{{ view.table }}').attr('action', '{{ page.parents.path[1][ localization.language.ietf ] }}');$('#form-{{ view.table }}').submit();" ><i class="fa fa-area-chart"></i></button>
            {% endif %}

            {% if etc.include.insert %}
                {% for insert in etc.include.insert %}
                <button type="button" class="btn btn-secondary btn-sqr btn-sm" onclick="$('.view-insert:not(#{{ view.id }}-{{ insert.name }})').slideUp(400,'swing');$('.view-insert:not(#{{ view.id }}-{{ insert.name }})').setAttribute('disabled');$('#{{ view.id }}-{{ insert.name }}').toggleAttribute('disabled');$('#{{ view.id }}-{{ insert.name }}').slideToggle(400,'swing');"><i class="fa {{ insert.fa }}"></i></button>
                {% endfor %}
            {% endif %}

        </div>
    </div>
    {% endif %}

    {# INCLUSIONE DEI FORM DI INSERIMENTO RAPIDO #}
    {% if etc.include.insert %}
    {% for insert in etc.include.insert %}
    {% include insert.file %}
    {% endfor %}
    {% endif %}

    {# TABELLA DEI DATI DELLA VISTA #}
    {% if view.data %}
    <div class="form-row">
        <div class="col-md-12 text-center table-responsive">

            <table class="view-table{% if view.open.path %} clickable{% endif %}">

            <thead>
                <tr>
                {# for key,col in view.cols #}
                {% for key in view.fields %}
                <th class="{{ view.class[key] }}">
                    {% if view.cols[ key ] %}
                    <input type="hidden" name="__view__[{{ view.id }}][__sort__][{{ key }}]" id="ordinamenti_{{ key }}" value="{{ session.__view__[ view.id ].__sort__[ key ] }}">
                    <select class="fa-select form-control form-control-sm hidden-print {{ view.class[key] }}" onchange="$('#ordinamenti_{{ key }}').val( this.options[this.selectedIndex].value ); submit();">
                    <option value="">{{ view.cols[ key ] }}</option>
                    <option value="ASC"{% if session.__view__[ view.id ].__sort__[ key ] == 'ASC' %} selected{% endif %}>{{ view.cols[ key ] }} &#xf0d8;</span></option>
                    <option value="DESC"{% if session.__view__[ view.id ].__sort__[ key ] == 'DESC' %} selected{% endif %}>{{ view.cols[ key ] }} &#xf0d7;</option>
                    </select>
                    <span class="d-none d-print-inline">{{ view.cols[ key ] }}</span>
                    {% endif %}
                </th>
                {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% for row in view.data %}
                {% if row is iterable %}
                <tr {% if row.style %}style="{{ row.style }}"{% endif %} {% if view.open.path %} onClick="window.open('{{ view.open.path }}?{% if row[ view.open.field ] %}{{ view.open.table }}[id]={{ row[ view.open.field ] }}{% endif %}{% if view.master.table %}&{{ view.master.table }}[id]={{ row[ view.master.field ] }}{% endif %}{% for tbl,flds in view.open.extra %}{% for fld in flds %}&{{tbl}}[{{fld}}]={{ row[fld] }}{% endfor %}{% endfor %}{% for tbl,flds in view.open.preset %}{% for fld in flds %}&__preset__[{{tbl}}][{{fld}}]={{ row[fld] }}{% endfor %}{% endfor %}{% for fld,val in view.open.context %}&{{ fld }}={{ val }}{% endfor %}{% if page.backurl %}&__backurl__={{ page.backurl[ localization.language.ietf ] }}{% endif %}','_self');"{% endif %}>
                {% for key in view.fields %}
                <td class="{{ view.class[key] }}"{% if view.onclick[key] %} onclick="{{ view.onclick[key] }}"{% endif %}>{{ row[key]|raw }}</td>
                {% endfor %}
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>

            {% if view.footer.cols %}
            <tfoot>
                <tr>
                    {% for col in view.footer.cols %}
                    <td colspan="{{ col.colspan }}" class="text-right">{{ col.label }}</td>
                    <td>{{ col.value }}</td>
                    {% endfor %}
                </tr>
            </tfoot>
            {% endif %}

            </table>

        </div>
    </div>
    {% endif %}

    {# CONTROLLI DELLA VISTA #}
	<fieldset class="form-controls mt-auto">
        <div class="row no-gutters d-print-none">

            {% if form.table %}
            <div class="col-auto mr-1">
                {{ frm.button({ "field": { "type": "button", "text": '<i class="fa fa-undo"></i>', "class": "btn btn-secondary btn-sqr btn-sm", "onclick": "window.open('" ~ back ~ "','_self');" } }) }}
            </div>
            {% endif %}
            
            {% if not session.__view__[ view.id ].__filesystem_mode__ %}
            <div class="col-auto text-start">
                {% if view.data %}
                <div class="input-group">
                    <input type="hidden" name="__view__[{{ view.id }}][__pager__][page]" value="{{ session.__view__[ view.id ].__pager__.page }}" id="pager">
                    <button type="button" class="btn btn-secondary btn-sm" onclick="if( $('#pager').val() > 0 ){ $('#pager').get(0).value--; submit(); }"><i class="fa fa-chevron-left"></i></button>
                    <select class="form-control form-control-sm" onchange="$('#pager').val( $(this).val() ); submit();">
                        {% set spage = session.__view__[ view.id ].__pager__.page - 25 %}
                        {% set lpage = session.__view__[ view.id ].__pager__.page + 25 %}
                        {% if lpage > session.__view__[ view.id ].__pager__.pages %}{% set lpage = session.__view__[ view.id ].__pager__.pages %}{% endif %}
                        {% if spage < 0 %}
                        {% set spage = 0 %}
                        {% else %}
                        {% set pag = 0 %}
                        <option value="{{ pag }}"{% if pag == session.__view__[ view.id ].__pager__.page %} selected{% endif %}>{{ pag + 1 }}</option>
                        {% endif %}
                        {% for pag in range( spage, lpage - 1 ) %}
                        <option value="{{ pag }}"{% if pag == session.__view__[ view.id ].__pager__.page %} selected{% endif %}>{{ pag + 1 }}</option>
                        {% endfor %}
                        {% if session.__view__[ view.id ].__pager__.pages > lpage %}
                        {% set pag = session.__view__[ view.id ].__pager__.pages - 1 %}
                        <option value="{{ pag }}"{% if pag == session.__view__[ view.id ].__pager__.page %} selected{% endif %}>{{ pag + 1 }}</option>
                        {% endif %}
                    </select>
                    <button type="button" class="btn btn-secondary btn-sm" onclick="if( $('#pager').val() < {{ session.__view__[ view.id ].__pager__.pages - 1 }} ){ $('#pager').get(0).value++; submit(); }"><i class="fa fa-chevron-right"></i></button>
                </div>
                {% endif %}
            </div>

            {% if session.__view__[ view.id ].__pager__.total > 0 %}
            <div class="col col-form-label text-center">
                {{ ( ( session.__view__[ view.id ].__pager__.page * session.__view__[ view.id ].__pager__.rows ) + 1 ) }}
                -
                {% if session.__view__[ view.id ].__pager__.total < ( ( session.__view__[ view.id ].__pager__.page * session.__view__[ view.id ].__pager__.rows ) + session.__view__[ view.id ].__pager__.rows ) %}
                {{ session.__view__[ view.id ].__pager__.total }}
                {% else %}
                {{ ( ( session.__view__[ view.id ].__pager__.page * session.__view__[ view.id ].__pager__.rows ) + session.__view__[ view.id ].__pager__.rows ) }}
                {% endif %}
                di
                {{ session.__view__[ view.id ].__pager__.total }}
            </div>
            <div class="col-2 text-end">
                <button type="button" class="btn btn-secondary btn-sqr btn-sm" onclick="window.open('/print/default.csv?t={{ view.table }}&v={{ session.__view__[ view.id ]|json_encode() }}','_blank');"><i class="fa fa-file-excel"></i></button>
                {% if view.insert.path %}
                <button type="button" class="btn btn-secondary btn-sqr btn-sm" onclick="window.open('{{ view.insert.path }}{% if view.open.preset.field %}?__preset__[{{ view.open.table }}]{% if view.open.preset.subform %}[{{ view.open.preset.subform }}][0]{% endif %}[{{ view.open.preset.field }}]={{ request[ form.table ].id }}{% endif %}{% if page.backurl %}{% if view.open.preset.field %}&{% else %}?{% endif %}__backurl__={{ page.backurl[ localization.language.ietf ] }}{% endif %}','_self');"><i class="fa fa-plus"></i></button>
                {% endif %}
            </div>
            {% else %}
            <div class="col col-form-label text-center p-0">
                <p class="m-0">nessun dato trovato</p>
            </div>
            {% endif %}
            {% endif %}

            {% if session.__view__[ view.id ].__filesystem_mode__ or form.__filesystem_mode__ %}
            <div class="col text-center">
                <p>file system mode attivo</p>
            </div>
            {% elseif not view.table %}
            <div class="col text-center">
                {{ tpl.trashButton( table, '', page, pages, '', localization.language.ietf, request, back ) }}
            </div>
            {% endif %}

            {% if form.table %}
            <div class="col-auto ml-1">
                {% if session.__view__[ view.id ].__filesystem_mode__ %}

                    {# bottone salva e rimani nella pagina attuale #}
                    {{ frm.button({ "field": { "text": '<i class="fa fa-floppy-disk"></i>', "class": "btn btn-secondary btn-sqr btn-sm", "onclick": 'submitFormOkay = true;' } }) }}

                {% elseif short == 2 %}

                    {# bottone salva e rimani nella pagina attuale #}
                    {{ frm.button( { 'field': { 'text': '<i class="fa fa-floppy-disk"></i>', 'onclick': 'submitFormOkay = true;' } } ) }}

                {% elseif request.__backurl__ %}

                    {# bottone torna indietro #}
                    {% if '?' ~ table ~ '[id]' not in session.backurls[ request.__backurl__ ] %}
                    {{ frm.button( { 'field': { 'text': '<i class="fa fa-arrow-circle-left"></i>', 'onclick': 'submitFormOkay = true; $("#backurl").val(""); $("#form-' ~ form.table ~ '").attr("action", "' ~ session.backurls[ request.__backurl__ ] ~ '");' } } ) }}
                    {% endif %}

                    {# costruzione della stringa dei preset #}
                    {% set presets = '' %}{% for fld,val in etc.preset.fields %}{% set presets = presets ~ '&__preset__[' ~ form.table ~ '][' ~ fld ~ ']=' ~ val %}{% endfor %}

                    {# bottone salva e rimani nella pagina attuale #}
                    {{ frm.button( { 'field': { 'text': '<i class="fa fa-arrow-circle-down"></i>', 'onclick': 'submitFormOkay = true;' } } ) }}

                {% else %}

                    {# bottone salva e torna indietro #}
                    {{ frm.button( { 'field': { 'text': '<i class="fa fa-caret-left"></i><i class="fa fa-floppy-disk"></i>', 'type': 'button', 'onclick': '$("#form-' ~ form.table ~ '").attr("action", "' ~ page.parent.path[ localization.language.ietf ] ~ '"); submitFormOkay = true;$("#form-' ~ form.table ~ '").submit();' } } ) }}

                    {# bottone salva e rimani nella pagina attuale #}
                    {{ frm.button( { 'field': { 'text': '<i class="fa fa-floppy-disk"></i>', 'onclick': 'submitFormOkay = true;' } } ) }}

                    {# bottone scarica #}
                    {% if download %}
                    {{ frm.button( { 'field': { 'text': '<i class="fa fa-download"></i>', 'onclick': 'window.open("' ~ download ~ '","_self")' } } ) }}
                    {% endif %}

                {% endif %}

            </div>
            {% endif %}

        </div>

    </fieldset>

</form>
<!-- fine file {{ _self }} -->
